<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state = {{{STATE}}};
        var coal_counts = {{{COAL_COUNTS}}};               // array - value per year (e.g. [1234, 2567, ...])
        var natural_gas_counts = {{{NATURAL_GAS_COUNTS}}}; // array - value per year (e.g. [1234, 2567, ...])
        var nuclear_counts = {{{NUCLEAR_COUNTS}}};         // array - value per year (e.g. [1234, 2567, ...])
        var petroleum_counts = {{{PETROLEUM_COUNTS}}};     // array - value per year (e.g. [1234, 2567, ...])
        var renewable_counts = {{{RENEWABLE_COUNTS}}};     // array - value per year (e.g. [1234, 2567, ...])
        var years = [];
        var start = 1960;
        for(var i=0; i<=58; i++)
        {
            years.append(start+i);
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
</head>
<body >
    <!-- create template here -->
    <div id="State" style="font-size: 4rem; text-align: center;"> {{{CONTENT HERE}}} Energy Report</div>
    <div>
        <table id="table">
            <tr>
                <th>Year</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
            </tr>
            {{{TABLE HERE}}}
        </table>
    </div>
    <div>
        <canvas id="MyChart" width="400" height="400">

        </canvas>
    </div>
    <script>
        const ctx = document.getElementById('MyChart').getContext('2d');
        const lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                    labels: [1,2,3,4,5,6,7,8,9,10,11,12,13],
                    datasets: [{
                        label: 'Coal Counts',
                        data: [5,6,2,5,3,6,3,45,5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                            ],
                        borderWidth: 1
                        },
                        {
                            label: 'Natural Gas Counts',
                            data: [3,6,3,6,77,6,2,4],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderWidth: 1
                        }
                    ]
                }
            }
    );
    </script>
</body>
</html>
