<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
            var coal_count = {{{COAL_COUNT}}};
            var natural_gas_count = {{{NATURAL_GAS_COUNT}}};
            var nuclear_count = {{{NUCLEAR_COUNT}}};
            var petroleum_count = {{{PETROLEUM_COUNT}}};
            var renewable_count = {{{RENEWABLE_COUNT}}};
            var year = {{{YEAR}}};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
</head>
<body>
    <h1 class="header">
        <a href="http://localhost:8000/year/2018">Home</a>
        <a href="http://localhost:8000/state/MN">State</a>
        <a href="http://localhost:8000/energy/coal">Energy</a>
    </h1>
    <div class="newValue">Desired year:
        <input id="new_year" type="text" />
        <button id="submit" type="button" onclick="insertNewYear();">Submit</button>
        <script type="application/javascript">
            function insertNewYear() {
                let year = document.getElementById("new_year").value;
                window.open("/year/" + year,"_self")
            };
        </script>
    </div>
    <div class="year"> {{{CONTENT HERE}}} Energy Report</div>
    <div>
        <canvas id="MyChart">

        </canvas>
    </div>
    <div id="tableContent">
        <table id="table" >
            <tr>
                <th>State</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
            </tr>
            {{{TABLE HERE}}}
        </table>
    </div>
</body>
<script>
    const ctx = document.getElementById('MyChart').getContext('2d');
    const MyChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Coal', 'Natural Gas', 'Nuclear', 'Petroleum', 'Renewable'],
            datasets: [{
                label: 'Energy Counts',
                data: [coal_count, natural_gas_count, nuclear_count, petroleum_count, renewable_count],
                backgroundColor: [ "black", "yellow", "orange", "brown", "green"],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</html>
