/* Custom CSS Rules */
.header {
    font-size: 2rem;
    text-align: center;
    color: black;
}

a {
    color: black;
    margin: 2rem;
}

.year {
    font-size: 3rem;
    text-align: center;
    color: black;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.buttons {
    text-align: center;
}
.picture {
    text-align: center;
}

.state {
    font-size: 3rem;
    text-align: center;
    color: black;
}

.energy {
    font-size: 3rem;
    text-align: center;
    color: black;
}

#table {
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newValue {
    text-align: center;
}
th {
    border-bottom: 1px solid black;
}

#MyChart {
    height: 100px;
    width: 100px;
}